.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/* Styling for the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;  /* Change to your preferred color */
  padding: 10px 20px;
}

/* Left side of the navbar (the title) */
.navbar-left h1 {
  color: #fff;
  margin: 0;
}

/* Right side of the navbar (navigation links) */
.navbar-right .nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-right .nav-links li {
  margin-left: 20px;
  color: #fff;
  cursor: pointer;
}

/* Optional: Add hover effect for the nav items */
.navbar-right .nav-links li:hover {
  text-decoration: underline;
}

.auth-button {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
}

.auth-button:hover {
  background-color: #ddd;
}